
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Station</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <style>
        .view {
          background: url("http://i.imgur.com/9PVIBtu.jpg")no-repeat center center fixed;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
      }
        h3 {
          color: black;
        }
        h1 {
          color: black;
        }
        p {
          color: black;
        }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <a class="navbar-brand" href="/">Bike Share</a>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/stations">Station Index</a></li>
          <li class="dropdown">
            <a href="/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/stations">Station Index</a></li>
              <li><a href="/stations-dashboard">Station Analytics</a></li>
              <li><a href="/trips">Trip Index</a></li>
              <li><a href="/trips-dashboard">Trip Analytics</a></li>
            </ul>
          </li>
        </ul>
      </nav>

      <div class="view">
      <div class="full-bg-img flex-center">
      </div>

    <div class ="container">
      <div class="page-header">
        <h1><small></small></h1>
      </div>
      <h1>Station Analytics</h1>

      <h3>Count of all stations:</h3><p><%= Station.count %></p>

      <h3>Average Dock Count per Station</h3><p><%= Station.average_bikes_available_per_station %></p>

      <h3>Most Bikes available at a Station</h3><p><%= Station.maximum_dock_count %></p>

      <h3>Station(s) with the Most Bikes Available</h3><% Station.station_with_maximum_dock_count.each do |station| %>
                                                    <p><%= station.name %></p>
                                                    <% end %>

      <h3>Fewest Bikes available at a Station</h3><p><%= Station.minimum_dock_count %></p>

      <h3>Station(s) with the Fewest Bikes Available</h3><% Station.station_with_minimum_dock_count.each do |station| %>
                                                    <p><%= station.name %></p>
                                                    <% end %>

      <h3>Most recent station and installation date:</h3> <% Station.newest_station.each do |station| %>
                                                    <p><%= station.name %>, <%= station.installation_date %></p>
                                                    <% end %>

      <h3>Oldest station and installation date:</h3> <% Station.oldest_station.each do |station| %>
                                                    <p><strong><%= station.name %>, <%= station.installation_date %></strong></p>
                                                    <% end %>
    </div>
  </body>
</html>
