<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Station Index</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <style>
      .view {
          background: url("http://i.imgur.com/9PVIBtu.jpg")no-repeat center center fixed;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <a class="navbar-brand" href="/">Bike Share</a>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/stations/new">Add New Station</a></li>
          <li class="dropdown">
            <a href="/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/stations">Station Index</a></li>
              <li><a href="/stations-dashboard">Station Analytics</a></li>
              <li><a href="/trips">Trip Index</a></li>
              <li><a href="/trips-dashboard">Trip Analytics</a></li>
            </ul>
          </li>
        </ul>
      </nav>

        <div class="view">
        <div class="full-bg-img flex-center">
        </div>

    <div class="container">
      <div class="page-header">
        <h1><small></small></h1>
      </div>
      <h1 class="h1-responsive" style="color: black"> Station Index </h1>

      <% @stations.each do |station| %>
        <h3><strong><a href="/stations/<%= station.id %>"><%= station.name %></a></strong></h3>
        <p style="color: black"><strong>City: <%= station.city %></strong></p>
        <p style="color: black"><strong>Installation Date: <%= station.installation_date %></strong></p>
        <p style="color: black"><strong>Dock Count: <%= station.dock_count %></strong></p>
          <a class="btn btn-primary" href="/stations/<%= station.id %>/edit" role="button">Edit</a>
          <form action="/stations/<%= station.id %>" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <input class="btn btn-default" type="submit" value="Delete">
          </form>
        <% end %>
    </div>
  </body>
</html>
