<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Station</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <style>
        .view {
          background: url("http://i.imgur.com/9PVIBtu.jpg")no-repeat center center fixed;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
      }
      h3,p,h1 {
        color: black;
      }
    </style>
  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <a class="navbar-brand" href="/">Bike Share</a>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/stations/new">Add New Station</a></li>
          <li class="dropdown">
            <a href="/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/stations">Station Index</a></li>
              <li><a href="/stations-dashboard">Station Analytics</a></li>
              <li><a href="/trips">Trip Index</a></li>
              <li><a href="/trips-dashboard">Trip Analytics</a></li>
            </ul>
          </li>
        </ul>
      </nav>

      <div class="view">
      <!--Intro content-->
      <div class="full-bg-img flex-center">
      </div>

    <div class ="container">
      <div class="page-header">
        <h1><small></small></h1>
      </div>
      <h1><%= @station.name %></h1>

      <h3>General Information: </h3>
      <p><strong>city:</strong> <%= @station.city %></p>
      <p><strong>installation date:</strong> <%= @station.installation_date %></p>
      <p><strong>dock count:</strong> <%= @station.dock_count %></p>

      <h3>Station <%= @station.name %>'s Analytics</h3>
      <p><strong>Number of rides started at this station:</strong> <%= @station.number_of_rides_started_here %></p>
      <p><strong>Number of rides ended at this station:</strong> <%= @station.number_of_rides_ended_here %></p>
      <p><strong>Most frequent destination station (for rides that began at this station):</strong> <%= @station.most_frequent_destination_station %></p>
      <p><strong>Most frequent origination station (for rides that began at this station):</strong> <%= @station.most_frequent_origination_station %></p>
      <p><strong>Date with the highest number of trips started at this station:</strong> <%= @station.highest_volume_date_here %></p>
      <p><strong>Most frequent zip code for users starting trips at this station:</strong> <%= @station.most_frequent_zip_code %></p>
      <p><strong>Bike ID most frequently starting a trip at this station:</strong> <%= @station.most_frequent_bike_id %></p>
    </div>
  </body>
</html>
