<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit a Trip</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <style>
        .view {
          background: url("http://i.imgur.com/834Zs8k.jpg")no-repeat center center fixed;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Bike Share</a>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/trips">Trip Index</a></li>
            <li class="dropdown">
              <a href="/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/stations">Station Index</a></li>
                <li><a href="/stations-dashboard">Station Analytics</a></li>
                <li><a href="/trips">Trip Index</a></li>
                <li><a href="/trips-dashboard">Trip Analytics</a></li>
								<li><a href="/conditions">Condition Index</a></li>
                <li><a href="/conditions-dashboard">Condition Analytics</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

      <div class="view">
      <!--Intro content-->
      <div class="full-bg-img flex-center">
      </div>

    <div class="container">
      <div class="page-header">
        <h1><small></small></h1>
      </div>
      <h1 style="color: black"> Edit your Trip </h1>
        <form action="/trips/<%= @trip.id %>" method="post">
        <input type="hidden" name="_method" value="PUT" />
          <div class="form-group">
            <label style="color: black" for="InputStartStationID">Start Station ID</label>
            <input type="text" class="form-control" name='trip[start_station_id]' value="<%= @trip.start_station_id %>" placeholder="Start Station ID">
          </div>
          <div class="form-group">
            <label style="color: black" for="InputEndStationID">End Station ID</label>
            <input type="text" class="form-control" name='trip[end_station_id]' value="<%= @trip.end_station_id %>" placeholder="End Station ID">
          </div>
          <div class="form-group">
            <label style="color: black" for="InputStartDate">Start Date</label>
            <input type="date" class="form-control" name='trip[start_date]' value="<%= @trip.start_date %>" placeholder="Start Date">
          </div>
          <div class="form-group">
            <label style="color: black" for="InputEndDate">End Date</label>
            <input type="date" class="form-control" name='trip[end_date]' value="<%= @trip.end_date %>" placeholder="End Date">
          </div>
          <div class="form-group">
            <label style="color: black" for="InputDuration">Duration</label>
            <input type="text" class="form-control" name='trip[duration]' value="<%= @trip.duration %>" placeholder="Duration of Trip">
          </div>
          <div class="form-group">
            <label style="color: black" for="InputBikeID">Bike ID</label>
            <input type="text" class="form-control" name='trip[bike_id]' value="<%= @trip.bike_id %>" placeholder="Bike Identification Number">
          </div>
          <div class="form-group">
            <label style="color: black" for="InputZipCode">Zip Code</label>
            <input type="text" class="form-control" name='trip[zip_code]' value="<%= @trip.zip_code %>" placeholder="Zip Code">
          </div>
          <div>
            <p style="color: black"><strong>Subscriber or Customer:</strong>
              <select name='trip[subscription_type]'>
                <option value="customer">Customer</option>
                <option value="subscriber">Subscriber</option>
              </select><br/>
            </p>
          </div>
          <input class="btn btn-default" type='submit' value='edit the trip'/>
        </form>
      </div>
    </div>
  </body>
</html>
