<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Trip</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <style>
      html,
      body,
        .view {
          height: 100%;
      }
        .view {
          background: url("http://i.imgur.com/4J9PIxQ.jpg?1")no-repeat center center fixed;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
      }
      h3,p,h1 {
        color: black;
      }
    </style>
  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Bike Share</a>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/trips">Trip Index</a></li>
            <li class="dropdown">
              <a href="/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/stations">Station Index</a></li>
                <li><a href="/stations-dashboard">Station Analytics</a></li>
                <li><a href="/trips">Trip Index</a></li>
                <li><a href="/trips-dashboard">Trip Analytics</a></li>
                <li><a href="/conditions">Weather Index</a></li>
                <li><a href="/weather-dashboard">Weather Analytics</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

      <div class="view">
      <!--Intro content-->
      <div class="full-bg-img flex-center">
      </div>

    <div class ="container">
      <div class="page-header">
        <h1><small></small></h1>
      </div>
        <h1 style="color: black">Trip</h1>
        <h2><%= @trip.start_station.name %> - <%= @trip.end_station.name %></h2>
        <p>Start Date - End Date: </p>
        <h2><%= @trip.start_date %> - <%= @trip.end_date %></h2>
        <p>General Information: </p>
        <h5>Duration: <%= @trip.duration %></h5>
        <h5>Bike ID: <%= @trip.bike_id %></h5>
        <h5>Subscription Type: <%= @trip.subscription_type %></h5>
        <h5>Zip Code: <%= @trip.zip_code %></h5>
    </div>
  </body>
</html>
